
 /* --------- Navbar--------- */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #f0f2f5;
    color: #5f5f5f;
}
a{
    text-decoration: none;
    color: #5f5f5f;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 6px 6%;
    position: sticky;
    top: 0;
    box-shadow: 0 8px 10px  #0000001a;
}

.logo img{
    width: 170px;
    margin-right: 17px;
    display: block;
}
.navbar-right ul li{
    display: inline-block;
    list-style: none;
}
.navbar-right ul li a{
    display: flex;
    align-items: center;
    font-size: 17px;
    margin: 5px 50px;
    margin-right: 10px ;
    padding-right: 5px;
    position: relative;
}
.navbar-right ul li a img{
    width: 17px;
    margin-right: 7px;
}

.navbar-right ul li a::after
{
    content: '';
    width: 0;
    height: 3px;
    background-color: #045be6;
    position: absolute;
    bottom: -25px;
    transition: width 0.3s;
}
.navbar-right ul li a:hover::after,
.navbar-right ul li a.running-page::after{
    width: 100%;
}

         /* --------Navbar close------- */

 .container{
    padding: 20px 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }        
           /* -----------left-side---------- */
 .ls-content{
    flex-basis: 25%;
    align-self: flex-start;
 }
 .profile-cover{
    background-color: #fff;
 }
  .profile-cover img{
    width: 100%;
    height: 100px;
  }
 .profile-pic{
    padding: 0 25px;
 }
 .profile-pic img{
    width: 98px;
    border-radius: 50%;
    background-color: #fff;
    padding: 4px;
    margin-top: -45px;
 }
 .profile-pic h1{
    font-size: 20px;
    font-weight: 600;
    color: #222;
 }
.profile-pic h3{
    font-size: 14px;
    font-weight: 500;
    color: #777;
}
.ls-activity{
    background-color: #fff;
}
.ls-activity ul{
    list-style: none;
    margin: 20px 0;
    padding: 10px 20px;
}
.ls-activity ul li{
    width: 100%;
    margin: 5px 0;
    font-size: 13px;
    color: #222;
}
.ls-activity ul li span{
    float: right;
    color: #045be6;
}
.recent-activities{
    background-color: #fff;
    padding: 5px 25px;
    margin: 12px 0;
}
.recent-activities h3{
    color: #494545;
    font-size: 14px;
    font-weight: 500;
    margin: 20px 0;
}
.recent-activities a{
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #605d5d;
    margin: 3px 0;
}
.recent-activities a img{
    width: 20px;
    margin-right: 10px;
}

             /*----------right-side----------- */
 .rs-content{
    flex-basis: 25%;
    align-self: flex-start;
 }
.news{
    background-color: #fff;
    padding: 10px 25px;
}
.info-icon{
    width: 15px;
    float: right;
    margin-top: 13px;
}
.news h3{
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin: 10px 0 30px;
}
.news a{
    display: block;
    font-size: 13px;
    font-weight: 540;
    margin-top: 10px;
    margin-bottom: -3px;
    color: #424141;
}
.news span{
    font-size: 12px;
}
.fake-links{
    padding: 15px 25px;
    text-align: center;
}
.fake-links a{
    display: inline;
    font-size: 14px;
    margin: 4px 8px;
}
.copyright-msg{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin: 10px;
    font-weight: 500;
}

             /* ---------middel----------- */
 .middel-content{
    flex-basis: 47;
    
 }
