
 /* --------- Navbar--------- */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #f0f2f5;
    color: #5f5f5f;
}
a{
    text-decoration: none;
    color: #5f5f5f;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 6px 6%;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 8px 10px  #0000001a;
}

.logo img{
    width: 170px;
    margin-right: 17px;
    display: block;
}
.navbar-right ul li{
    display: inline-block;
    list-style: none;
}
.navbar-right ul li a{
    display: flex;
    align-items: center;
    font-size: 17px;
    margin: 5px 50px;
    margin-right: 10px ;
    padding-right: 5px;
    position: relative;
}
.navbar-right ul li a img{
    width: 17px;
    margin-right: 7px;
}

.navbar-right ul li a::after
{
    content: '';
    width: 0;
    height: 3px;
    background-color: #045be6;
    position: absolute;
    bottom: -25px;
    transition: width 0.3s;
}
.navbar-right ul li a:hover::after,
.navbar-right ul li a.running-page::after{
    width: 100%;
}

    /* -------------Navbar responsive---------- */
    /* Mobile */
 @media (max-width: 616px){
     
.navbar-right ul li a span{
    display: none;
}   
.navbar-right ul li a {
    padding-right: 0;
    margin: 5px;
}
.logo img{
    width: 150px;
}
 }
     /* Tablet */
 @media (max-width: 897px){
     
.navbar-right ul li a {
    padding-right: 0;
    margin: 5px;
    font-size: 15px;
}
 }

         /* -----------------Navbar close----------------- */

 .container{
    padding: 20px 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
 }        
           /* -----------left-side---------- */
 .ls-content{
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top: 73px;
    z-index: 1;
 }
 .profile-cover{
    background-color: #fff;   
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.profile-cover img{
    width: 100%;
    height: 100px;
  }
 .profile-pic{
    padding: 0 25px;
 }
.profile-pic img{
    width: 98px;
    border-radius: 50%;
    background-color: #fff;
    padding: 4px;
    margin-top: -45px;
 }
.profile-pic h1{
    font-size: 20px;
    font-weight: 600;
    color: #222;
 }
.profile-pic h3{
    font-size: 14px;
    font-weight: 500;
    color: #777;
}
.ls-activity{
    background-color: #fff;
}
.ls-activity ul{
    list-style: none;
    margin: 20px 0;
    padding: 10px 20px;
}
.ls-activity ul li{
    width: 100%;
    margin: 5px 0;
    font-size: 13px;
    color: #222;
}
.ls-activity ul li span{
    float: right;
    color: #045be6;
}
.recent-activities{
    background-color: #fff;
    padding: 5px 25px;
    margin: 12px 0;
}
.recent-activities h3{
    color: #494545;
    font-size: 14px;
    font-weight: 500;
    margin: 20px 0;
}
.recent-activities a{
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #605d5d;
    margin: 3px 0;
}
.recent-activities a img{
    width: 20px;
    margin-right: 10px;
}

             /*----------right-side----------- */
 .rs-content{
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top: 73px;
 }
.news{
    background-color: #fff;
    padding: 10px 25px;
}
.info-icon{
    width: 15px;
    float: right;
    margin-top: 13px;
}
.news h3{
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin: 10px 0 30px;
}
.news a{
    display: block;
    font-size: 13px;
    font-weight: 540;
    margin-top: 10px;
    margin-bottom: -3px;
    color: #424141;
}
.news a:hover{
  color: #045be6;
  text-decoration: underline;
}
.news span{
    font-size: 12px;
}
.fake-links{
    padding: 15px 25px;
    text-align: center;
}
.fake-links a{
    display: inline;
    font-size: 14px;
    margin: 4px 8px;
}
.copyright-msg{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin: 10px;
    font-weight: 500;
}

    /* ----------------------------------------middle--------------------------------------- */

 .middle-content{
    flex-basis: 47%;
    
 }
 .create-post{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
 }
 .create-post-input{
    padding: 20px 25px 10px;
    display: flex;
    align-items: flex-start;
 }
 .create-post-input img{
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: px;
 }
.create-post-input textarea{
    width: 100%;
    border: 0;
    outline: 0;
    resize: none;
    background-color: transparent;
    margin-top: 8px;
}
::placeholder{
    font-weight: 500;
}
.create-post-links{
    display: flex;
    align-items: flex-start;
}
.create-post-links li{
    list-style: none;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    flex-basis: 25%;
    height: 40px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.create-post-links li img{
    width: 15px;
    margin-right: 5px;
}
.create-post-links li:last-child{
    background-color: #045be6;
    color: #fff;
    border-top: 0;
    border-right: 0;
}
.create-post-links li:last-child:hover{
  background-color: #0047b3;
}
.sort-by{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.sort-by hr{
    flex: 1;
    border: 0;
    height: 1px;
    background-color: #ccc;
}
.sort-by p{
    font-size: 13px;
    padding-left: 5px;
}
.sort-by span{
    font-weight: 600;
    cursor: pointer;
}
.sort-by p span img{
    width: 12px;
    margin-left: 3px;
}
.post{
    background-color: #fff;
    padding: 20px 25px 5px;
    margin: 5px 0 15px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
.post-author{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
.post-author img{
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 2px;
    cursor: pointer;
}
.post-author h1{
    font-size: 18px;
    font-weight: 600;
    color: #333;
    cursor: pointer;
}
.post-author small{
    display: block;
    margin-bottom: -2px;
}
.post p{
    font-size: 14px;
    margin-bottom: 15px;
}
.post-stats{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
}
.post-stats div{
    display: flex;
    align-items: center;
}
.post-stats img{
    width: 15px;
    margin-right: -5px;
}
.liked-user{
    margin-left: 10px;
}
.post-activity{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 500;
}
.post-activity div{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 25px;
}
.post-activity-reaction img{
    width: 18px;
    margin-right: 5px;
}

/* ------------------Home page responsive------------------ */
 
/* Mobile */
 @media (max-width: 616px){
.container{
    padding: 15px 3%;
}
.ls-content , .rs-content{
    flex-basis: 100%;
    position: relative;
    top: unset;
}
.middle-content{
    flex-basis: 100%;
}
.post-stats div{
    margin: 2px 0;
}
.post-activity-reaction span{
    display: none;
}
.post-activity-reaction img{
    margin-right: 0;
}
#showMoreLink{
    display: block;
    width: fit-content;
    margin: 10px auto;
    font-size: 14px;
    cursor: pointer;
}
.recent-activities{
    display: none;
}
.recent-activities.open-activity{
    display: block;
}

  }
