/* --------- Navbar--------- */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #f0f2f5;
    color: #5f5f5f;
}
a{
    text-decoration: none;
    color: #5f5f5f;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 6px 6%;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 8px 10px  #0000001a;
}

.logo img{
    width: 170px;
    margin-right: 17px;
    display: block;
}
.navbar-right ul li{
    display: inline-block;
    list-style: none;
}
.navbar-right ul li a{
    display: flex;
    align-items: center;
    font-size: 17px;
    margin: 5px 50px;
    margin-right: 10px ;
    padding-right: 5px;
    position: relative;
}
.navbar-right ul li a img{
    width: 17px;
    margin-right: 7px;
}

.navbar-right ul li a::after
{
    content: '';
    width: 0;
    height: 3px;
    background-color: #045be6;
    position: absolute;
    bottom: -25px;
    transition: width 0.3s;
}
.navbar-right ul li a:hover::after,
.navbar-right ul li a.running-page::after{
    width: 100%;
}

         /* --------Navbar close------- */
body {
  font-family: Arial, sans-serif;
  background: #f2f4f7;

}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 38px;
  margin-top: 40px;
}

.network-container {
  display: flex;
  flex-wrap: wrap;             
  gap: 20px;
  max-width: 1000px;
  margin: auto;
  justify-content: center;
}

.card {
  background: #fff;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  height: 180px;               
  width: 420px;               
  position: relative;         
  overflow: hidden;
}


.card-top {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}


.name {
  font-size: 18px;
  font-weight: bold;
  
}

.title {
  font-size: 14px;
  color: #555;
  margin-top: 4px;
}


button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border-radius: 6px;
  font-size: 16px;
  border: none;
}

.connect-btn {
  background: #0a66c2;
  color: white;
  cursor: pointer;
}

.connected-btn {
  background: #e0e0e0;
  color: #666;
  cursor: not-allowed;
}

.extra-info {
  position: absolute;
  bottom: -60px;
  left: 0;
  width: 100%;
  background: #f5f7fa;
  padding: 10px 16px;
  font-size: 14px;
  border-top: 1px solid #ddd;
  transition: bottom 0.3s ease;
}

.card.expanded .extra-info {
  bottom: 0;
}
@media (max-width: 900px) {
  .card {
    width: 100%;
  }
}

@media (max-width: 600px) {
  body {
    padding: 15px;
  }

  .profile-pic {
    width: 60px;
    height: 60px;
  }

  .name {
    font-size: 16px;
  }

  .title {
    font-size: 13px;
  }
}