* {
  box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #f0f2f5;
    color: #5f5f5f;
}
a{
    text-decoration: none;
    color: #5f5f5f;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 6px 6%;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 8px 10px  #0000001a;
}

.logo img{
    width: 170px;
    margin-right: 17px;
    display: block;
}
.navbar-right ul li{
    display: inline-block;
    list-style: none;
}
.navbar-right ul li a{
    display: flex;
    align-items: center;
    font-size: 17px;
    margin: 5px 50px;
    margin-right: 10px ;
    padding-right: 5px;
    position: relative;
}
.navbar-right ul li a img{
    width: 17px;
    margin-right: 7px;
}

.navbar-right ul li a::after
{
    content: '';
    width: 0;
    height: 3px;
    background-color: #045be6;
    position: absolute;
    bottom: -25px;
    transition: width 0.3s;
}
.navbar-right ul li a:hover::after,
.navbar-right ul li a.running-page::after{
    width: 100%;
}



.form-container {
  width: 520px;
  margin: auto;
  background: #ffffff;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.08);
}

.form-container h2 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 25px;
  color: #2b2b2b;
}

label {
  margin-top: 16px;
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #555;
}

input, select {
  width: 100%;
  padding: 13px;
  margin-top: 6px;
  border-radius: 10px;
  border: 1px solid #dfe3eb;
  background: #fafbff;
  font-size: 15px;
  transition: 0.3s;
}

input:focus, select:focus {
  border-color: #5a7cff;
  background: #ffffff;
  box-shadow: 0 0 0 3px rgba(90,124,255,0.2);
  outline: none;
}

button {
  width: 100%;
  margin-top: 28px;
  padding: 14px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: white;
  background: linear-gradient(to right, #5a7cff, #6ea8ff);
  transition: 0.3s;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(90,124,255,0.35);
}


.profile-card {
  width: 620px;
  margin: 60px auto 0;
  background: #ffffff;
  border-radius: 20px;
  text-align: center;
  padding-bottom: 28px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.08);
}

.cover {
  height: 170px;
  background: linear-gradient(135deg, #5a7cff, #6ea8ff);
  border-radius: 20px 20px 0 0;
}

.avatar {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  margin-top: -68px;
  border: 6px solid white;
  background: white;
}


.profile-card h2 {
  font-weight: 700;
}

.profile-card p {
  font-weight: 600;
  color: #555;
}

#skillsBox span {
  font-weight: 600;
}


.profile-card strong,
.profile-card span,
.profile-card div {
  font-weight: 600;
}
